*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:sans-serif;
}

body{
  background:black;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  padding:20px;
}

.chat-container{
  width:100%;
  max-width:420px;
  height:90vh;

  background:#0a0a0a;

  border-radius:30px;

  border:1px solid #2a2a2a;

  display:flex;
  flex-direction:column;

  overflow:hidden;

  box-shadow:
  0 0 20px rgba(176,38,255,0.2);
}

.topbar{
  padding:20px;
  border-bottom:1px solid #222;
}

.topbar h1{
  font-size:30px;
  font-weight:bold;
}

.hero{
  padding:25px;
}

.hero h2{
  font-size:45px;
  margin-bottom:10px;
}

.hero p{
  font-size:38px;
  font-weight:bold;

  background:linear-gradient(
  90deg,
  #b026ff,
  #ff3d81
  );

  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.suggestions{
  display:flex;
  flex-wrap:wrap;
  gap:10px;

  padding:0 20px 20px;
}

.suggestions button{
  background:#111;

  border:1px solid #333;

  color:white;

  padding:12px 18px;

  border-radius:999px;

  cursor:pointer;

  transition:0.3s;
}

.suggestions button:hover{
  border-color:#b026ff;

  box-shadow:
  0 0 15px rgba(176,38,255,0.5);
}

.chat-box{
  flex:1;

  overflow-y:auto;

  padding:20px;

  display:flex;
  flex-direction:column;

  gap:15px;
}

.message{
  max-width:80%;

  padding:14px;

  border-radius:18px;

  line-height:1.5;
}

.user{
  align-self:flex-end;

  background:#b026ff;
}

.bot{
  align-self:flex-start;

  background:#1a1a1a;

  border:1px solid #333;
}

.input-area{
  display:flex;

  gap:10px;

  padding:20px;

  border-top:1px solid #222;
}

.input-area input{
  flex:1;

  background:#111;

  border:1px solid #333;

  color:white;

  padding:15px;

  border-radius:15px;

  outline:none;
}

.input-area button{
  background:#b026ff;

  border:none;

  color:white;

  padding:15px 20px;

  border-radius:15px;

  cursor:pointer;

  transition:0.3s;
}

.input-area button:hover{
  opacity:0.8;
}
